.landing-container {
  background-image: url("./styles/assets/landingbg.gif");
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@font-face {
  font-family: "Munro";
  src: local("Munro"), url("./styles/fonts/munro.ttf") format("truetype");
}

.landing-enter-button {
  font-family: Munro, serif;
}

.home-container {
  /* background-color: #142230; */
}

.sarabun {
  font-family: "Sarabun", sans-serif;
}
